*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #e3e3e3;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

header .btn-contato button, .quem-somos button{
    font-size: 18px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    transition: .5s;
}

/* Estilo header */
header{
    width: 100%;
    padding: 40px;
    position: fixed;
    top: 0;
    left: 0;
}

header .interface{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img{
    max-width: 40px;
}

header .menu-desktop nav ul{
    list-style-type: none;
}

header .menu-desktop nav ul li{
    display: inline-block;
    margin: 0 40px;
}

header .menu-desktop nav ul li a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

.menu-desktop nav a:hover{
    transform: scale(1.05);
}

header .btn-contato button{
    width: 140px;
    height: 50px;
}

header .btn-contato button:hover, .quem-somos button:hover{
    background-color: #fff;
    color: #000;
}

/* Estilo do quem-somos */
section.quem-somos{
    height: 99vh;
    background-image: url(../imagens/salao.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;  
}

.quem-somos .interface{
    display: flex;
    align-items: center;
    height: 100%;
}

.quem-somos .txt-quem-somos h1{
    font-size: 4em;
    line-height: 70px;
    font-weight: 200;
}

.quem-somos .txt-quem-somos h1 span{
    display: block;
    font-weight: 600;
}

.quem-somos .txt-quem-somos p{
    font-size: 20px;
    font-weight: 300;
    margin: 20px 0;
}

.quem-somos .txt-quem-somos p span{
    display: block;

}

.quem-somos button{
    width: 220px;
    height: 60px;
    font-size: 20px;
}

/* Estilo dos Serviços */

section.serviços{
    padding: 80px 0;   
}

.serviços .itens-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10%;
    margin-bottom: 60px;
}

.serviços .itens-container .img-itens img{
    max-width: 480px;
}

.serviços .itens-container .txt-itens h3{
    font-size: 3em;
    line-height: 50px;
    margin-bottom: 20px;   
}

.itens-container .txt-itens h3 span{
    font-weight: 300;
}

/* Estilo dos botões de contato */
section.contato{
    background-color: #fff;
    padding: 80px 0;
}

.txt-contato, .icons-contato{
    display: inline-block;
    width: 50%;
    margin-right: -4px;
    vertical-align: middle;
}

.contato .txt-contato h3{
    font-size: 2.5em;
    line-height: 50px;
    font-weight: 300;
    margin-bottom: 20px;
}

.contato .txt-contato h3 span{
    display: block;
    font-weight: 700;
}

.contato .icons-contato a{
    text-decoration: none;
}

.contato .icons-contato button{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 60%;
    height: 60px;
    margin: 0 auto 20px auto;
    padding: 0 60px;

    background-color: transparent;
    border: 2px solid #000;
    cursor: pointer;
    transition: .5s;
}

.contato .icons-contato button i{
    font-size: 25px;
}

.contato .icons-contato button:hover{
    background-color: #000;
}
.contato .icons-contato button:hover i, .contato .icons-contato button:hover p{
    color: #fff;
}