{% load static %}

<!doctype html>
<html lang="pt_br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- /Google fonts-->
  </head>

  <body>
             
         <header>
            <div class="interface">
                <section class="logo">
                    <img src="imagens/logo1.png" alt="Logotipo do Site">
                </section>

                <section class="menu-desktop">
                    <nav>
                        <ul>
                            <li><a href="#">Sobre o Salão</a></li>
                            <li><a href="#">Serviços</a></li>
                            <li><a href="#">Galeria e Depoimentos</a></li>
                            <li><a href="#">Contatos</a></li>
                        </ul>
                    </nav>
                </section>

                <section class="btn-contato">
                    <a href="#">
                        <button>Agendar</Button>
                    </a>
                </section>
            </div>

        </header>

        <section class="quem-somos">
           
            <div class="interface">

                <div class="txt-quem-somos">

                    <h1> Conheça o nosso  <span> Salão </span></h1>
                    <p>Oferecemos um espaço acolhedor e serviços personalizados para realçar sua beleza. Com profissionais experientes, estamos prontos para transformar seu visual e proporcionar uma experiência única. 
                        <span>Venha descobrir um novo conceito em cuidados com a sua beleza!</span></p>
                    <a href="#">
                        <button>Agendar</Button>
                    </a>
                </div>

            </div>
        </section>
  </body>
</html>